<div *ngIf="!isLoaded; else menuBlock">
  <div class="RFGzLM0dYfPknxoHIVaq">
    <h2 class="n3VjEYZ90eGAL7bL007A SnUm_1TfMxXpCYasofoO">Menu</h2>
  </div>
  <div>
    <div class="grid formgrid">
      <div class="field col-12 md:col-6">
        <p-skeleton width="100%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="80%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="60%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="40%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="20%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      </div>
    </div>
  </div>
</div>
<ng-template #menuBlock>
  <section class="nXQl30a4qw1osTKbT3IO" id="menu">
    <header data-test="section-header" class="yTP15dQeBCtN8gZPWtKV">
      <div class="RFGzLM0dYfPknxoHIVaq">
        <h2 class="n3VjEYZ90eGAL7bL007A SnUm_1TfMxXpCYasofoO">Menu</h2>
      </div>
    </header>
    <nav class="ScsFHXYGfsky9nth4qd_ FbgvnyhI2kiiEFSe975w" data-test="menu-tabs">
      <div role="tablist" aria-owns="menu-tab-button-main-menu" aria-label="Menus" class="FAhD1xcDGZtFWLZYER27">
        <button *ngFor="let menuType of menuTypes"
          [ngClass]="{'rTmMyidDIKY_16yLNshf' : loadedSubMenuId === menuType.subMenuId}"
          (click)="loadMenu(menuType.subMenuId)"
          class="oj_Zftq0Z_Ts7usxdiLc i0NKLxbx9Xc1RZpQpES0 yKuXW8wWEB4foiww8ftb KyuGcUqbz4REpb1ACgKW  n0GonOKcEH4mc03kM4Jz pREW2ZkuYncjapZLLnc3">{{menuType.type}}</button>
      </div>
      <div data-test="overlay" class="EMggxlmw5odOOoVQZSNx crJb_OYULngRToOEW4gj"></div>
    </nav>
    <article role="tabpanel" id="restProfileMenuContent" tabindex="0" aria-labelledby="menu-tab-button-main-menu"
      data-test="menu-content">
      <p class="Z5hZnDc095KpyPVTYvil">Our Kitchen is Open Seven Days a Week from 12pm till 11.45pm (last order). All
        our main courses include a combined side dish, can be considered as full meal</p>
      <div class="Wi5aAeHmced2sk4zN1RR">
        <!-- <button type="button" class="TgNcVhiEQjFPDjJW2Yp_ YQ2SmR3lcmrtTcxuktZA" aria-expanded="true"
          data-test="expansion-button">View full menu</button> -->
        <div class="rgtSylyDltiJrgoZncEO ap_fh_2o0KdY_e7T6DLJ" data-test="inner-expandable-container">
          <article *ngFor="let subMenu of menu.subMenus" class="TVLmvxP1ahj9Atd6nSbc" data-test="menu-section">
            <h3 class="fLVQ4B9zDTLxnFMWiezN TmrbsoKTQg9UWXLSXbm0">{{subMenu.subMenuType}}</h3>
            <ul class="_rhoq72Ysdh4AYEXvjW2">
              <li *ngFor="let item of subMenu.items" class="lGz7pThh1ty_7SknZIgt">
                <img class="menuImage" src="{{item.src}}" alt="{{item.alt}}">
                <h4 class="Jr5zcSvpfOOuC4zJng4o">
                  <span data-test="item-title">{{item.name}}</span>
                  <span data-test="item-price">{{item.currencyIcon}}{{item.price}}</span>
                </h4>
                <p class="ym_tnHBGf5RIXQhE6gPI">item.description</p>
                <ul></ul>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </article>
    <footer class="fnB2tvVXV9s4o0kFpPy2" data-test="menu-footer">
      <p class="T4eUR7RR2P1HKsnEQ8Vq">Last updated: {{GetDate(menu.updateDate)}}</p>
    </footer>
  </section>
</ng-template>
