.menuImage {
  height: 250px;
}

@media (max-width: 768px) {
  .menuImage {
    height: 450px;
    width: 100%;
  }
}

@media (max-width: 668px) {
  .menuImage {
    height: 350px;
    width: 100%;
  }
}
@media (max-width: 568px) {
  .menuImage {
    height: 350px;
    width: 100%;
  }
}
@media (max-width: 468px) {
  .menuImage {
    height: 250px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .menuImage {
    height: 200px;
    width: 100%;
  }
}

.lGz7pThh1ty_7SknZIgt {
  break-inside: avoid;
  margin-bottom: 16px;
  page-break-inside: avoid;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  width: 275px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-size: 18px;

  &_price {
    color: rgb(16, 119, 16);
    font-weight: 900;
    margin-right: 10px;
  }
}

.field-checkbox {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -2px;

  label {
    font-size: 12px;
    margin-top: 5px;
    margin-right: 4px;
  }
  :hover {
    cursor: pointer;
    color: brown;
  }
}

.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basketDiv {
  display: flex;
  justify-content: flex-end;
}

.product-item {
  .product-item-content {
    border: 0px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
