.menuImage {
  height: 250px;
}

@media (max-width: 768px) {
  .menuImage {
    height: 450px;
    width: 100%;
  }
}

@media (max-width: 668px) {
  .menuImage {
    height: 350px;
    width: 100%;
  }
}
@media (max-width: 568px) {
  .menuImage {
    height: 350px;
    width: 100%;
  }
}
@media (max-width: 468px) {
  .menuImage {
    height: 250px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .menuImage {
    height: 200px;
    width: 100%;
  }
}

.lGz7pThh1ty_7SknZIgt {
  break-inside: avoid;
  margin-bottom: 16px;
  page-break-inside: avoid;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  width: 275px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-size: 18px;

  &_price {
    color: rgb(16, 119, 16);
    font-weight: 900;
    margin-right: 10px;
  }
}

.field-checkbox {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -2px;

  label {
    font-size: 12px;
    margin-top: 5px;
    margin-right: 4px;
  }
}

.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basketDiv {
  display: flex;
  justify-content: flex-end;
}

// <li *ngFor="let item of subMenu.items" class="lGz7pThh1ty_7SknZIgt">
//                 <img class="menuImage" src="{{item.src}}" alt="{{item.alt}}">
//                 <div class="item-header">
//                   <span data-test="item-title">{{item.name}}</span>
//                   <span data-test="item-price" class="item-header_price">{{item.currencyIcon}}{{item.price}}</span>
//                 </div>
//                 <p class="ym_tnHBGf5RIXQhE6gPI description">{{item.description}}</p>
//                 <div class="field-checkbox">
//                   <label for="binary">Add in basket</label>
//                   <p-checkbox [value]="item.id" [(ngModel)]="selectedItems" inputId="binary"></p-checkbox>
//                 </div>
//                 <ul></ul>
//               </li>
