<p-dialog [(visible)]="displayBasket">
  <h2> Your <i class="pi pi-shopping-bag"></i> is empty</h2>
  <p-table *ngIf="basketItems.length > 0" [value]="basketItems" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td><img src="{{item.src}}" alt="{{item.alt}}" width="70px"></td>
        <td>{{item.name}}</td>
        <td>
          <button pButton (click)="minusQuantity(item.id)" icon="pi pi pi-minus"
            class="p-button-rounded p-button-text"></button>
          {{item.quantity}}
          <button pButton (click)="plusQuantity(item.id)" icon="pi pi pi-plus"
            class="p-button-rounded p-button-text"></button>
        </td>
        <td>{{item.quantity * item.price}} {{item.currencyIcon}}</td>
        <td> <button (click)="removeFromBasket(item.id)" pButton pRipple type="button" icon="pi pi-times"
            class="p-button-rounded p-button-outlined"></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total : {{fullPrice}} $.
      </div>
    </ng-template>
  </p-table>
</p-dialog>

<div *ngIf="!isLoaded; else menuBlock">
  <div class="RFGzLM0dYfPknxoHIVaq">
    <h2 class="n3VjEYZ90eGAL7bL007A SnUm_1TfMxXpCYasofoO">Menu</h2>
  </div>
  <div>
    <div class="grid formgrid">
      <div class="field col-12 md:col-6">
        <p-skeleton width="100%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="80%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="60%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="40%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        <p-skeleton width="20%" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      </div>
    </div>
  </div>
</div>
<ng-template #menuBlock>
  <section class="nXQl30a4qw1osTKbT3IO" id="menu">
    <header data-test="section-header" class="yTP15dQeBCtN8gZPWtKV">
      <div class="RFGzLM0dYfPknxoHIVaq">
        <h2 class="n3VjEYZ90eGAL7bL007A SnUm_1TfMxXpCYasofoO">Menu</h2>
      </div>
    </header>
    <article role="tabpanel" id="restProfileMenuContent" tabindex="0" aria-labelledby="menu-tab-button-main-menu"
      data-test="menu-content">
      <p class="Z5hZnDc095KpyPVTYvil">{{captionService.GetCaptionByKey(menu.description)}}</p>
      <div class="Wi5aAeHmced2sk4zN1RR">
        <!-- <button type="button" class="TgNcVhiEQjFPDjJW2Yp_ YQ2SmR3lcmrtTcxuktZA" aria-expanded="true"
          data-test="expansion-button">View full menu</button> -->
        <div class="rgtSylyDltiJrgoZncEO ap_fh_2o0KdY_e7T6DLJ" data-test="inner-expandable-container">
          <div *ngIf="showAddInBasket" class="basketDiv">
            <button (click)="showBasket()" pButton pRipple type="button" icon="pi pi-shopping-bag"
              class="p-button p-button-outlined"></button>
          </div>
          <article *ngFor="let subMenu of menu.subMenus" class="TVLmvxP1ahj9Atd6nSbc" data-test="menu-section">
            <p-carousel [value]="subMenu.items" [numVisible]="3" [numScroll]="3" [circular]="false"
              [responsiveOptions]="responsiveOptions">
              <ng-template pTemplate="header">
                <h3 class="fLVQ4B9zDTLxnFMWiezN TmrbsoKTQg9UWXLSXbm0">{{subMenu.subMenuType}}</h3>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="product-item">
                  <div class="product-item-content">
                    <img class="menuImage" src="{{item.src}}" alt="{{item.alt}}" width="275px"
                      style="object-fit: cover;">
                    <div class="item-header">
                      <span data-test="item-title">{{item.name}}</span>
                      <span data-test="item-price" class="item-header_price">{{item.currencyIcon}}{{item.price}}</span>
                    </div>
                    <p class="ym_tnHBGf5RIXQhE6gPI description">{{item.description}}</p>
                    <div class="field-checkbox" *ngIf="showAddInBasket" (click)="AddInBasket(item.id)">
                      <label for="binary">Add in basket</label>
                      <i class="pi pi-plus-circle"></i>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </article>
        </div>
      </div>
    </article>
    <footer class="fnB2tvVXV9s4o0kFpPy2" data-test="menu-footer">
      <p class="T4eUR7RR2P1HKsnEQ8Vq">{{'menu.last.updated' | translate }}: {{GetDate(menu.updateDate)}}</p>
    </footer>
  </section>
</ng-template>
