<div class="layout-wrapper" [ngClass]="{'p-input-filled': false, 'p-ripple-disabled': false,
        'layout-static': true,
        'layout-overlay': false,
        'layout-overlay-active': true,
        'layout-horizontal': false,
        'layout-static-active': false,
        'layout-mobile-active': false,
        'layout-rtl': false,
        'layout-rightpanel-active': false}" [class]="'layout-menu-dim'+ ' layout-topbar-light'">

  <app-navbar [userName]="userName" [imageAddress]="imageAddress" [name]="name" [surName]="surName"></app-navbar>
  <div class="main" style="margin-top: 60px;">
    <app-loader></app-loader>
    <router-outlet></router-outlet>
    <app-error-modal></app-error-modal>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
