<div clas="test">
  <svg version="1.1" id="whole_x5F_plane" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" viewBox="0 0 425 1467.9" style="enable-background:new 0 0 425 1467.9;" xml:space="preserve">
    <style type="text/css">
      .st0 {
        clip-path: url(#SVGID_15_);
      }

      .st1 {
        clip-path: url(#SVGID_24_);
      }

      .st2 {
        clip-path: url(#SVGID_25_);
      }

      .st3 {
        clip-path: url(#SVGID_26_);
        fill: #F3F3F3;
      }

      .st4 {
        clip-path: url(#SVGID_31_);
      }

      .st5 {
        clip-path: url(#SVGID_32_);
        fill: #FFFFFF;
      }

      .st6 {
        enable-background: new;
      }

      .st7 {
        fill: #FFFFFF;
      }

      .st8 {
        fill: #F3F3F3;
      }

      .st9 {
        fill: #424242;
      }

      .st10 {
        fill: #E5E5E5;
      }

      .st11 {
        fill: #2DB4D0;
      }

      .st12 {
        clip-path: url(#SVGID_41_);
      }

      .st13 {
        clip-path: url(#SVGID_42_);
        fill: #FFFFFF;
      }

      .st14 {
        clip-path: url(#SVGID_47_);
      }

      .st15 {
        clip-path: url(#SVGID_48_);
        fill: #FFFFFF;
      }

      .st16 {
        clip-path: url(#SVGID_50_);
        fill: #FFFFFF;
      }

      .st17 {
        clip-path: url(#SVGID_55_);
      }

      .st18 {
        clip-path: url(#SVGID_56_);
        fill: #FFFFFF;
      }

      .st19 {
        clip-path: url(#SVGID_61_);
      }

      .st20 {
        clip-path: url(#SVGID_62_);
        fill: #FFFFFF;
      }

      .st21 {
        clip-path: url(#SVGID_67_);
      }

      .st22 {
        clip-path: url(#SVGID_68_);
        fill: #FFFFFF;
      }

      .st23 {
        clip-path: url(#SVGID_73_);
      }

      .st24 {
        clip-path: url(#SVGID_74_);
        fill: #FFFFFF;
      }

      .st25 {
        clip-path: url(#SVGID_79_);
      }

      .st26 {
        clip-path: url(#SVGID_80_);
        fill: #FFFFFF;
      }

      .st27 {
        clip-path: url(#SVGID_85_);
      }

      .st28 {
        clip-path: url(#SVGID_86_);
        fill: #FFFFFF;
      }

      .st29 {
        clip-path: url(#SVGID_91_);
      }

      .st30 {
        clip-path: url(#SVGID_92_);
        fill: #FFFFFF;
      }

      .st31 {
        clip-path: url(#SVGID_97_);
      }

      .st32 {
        clip-path: url(#SVGID_98_);
        fill: #FFFFFF;
      }

      .st33 {
        clip-path: url(#SVGID_103_);
      }

      .st34 {
        clip-path: url(#SVGID_104_);
        fill: #FFFFFF;
      }

      .st35 {
        clip-path: url(#SVGID_109_);
      }

      .st36 {
        clip-path: url(#SVGID_110_);
        fill: #FFFFFF;
      }

      .st37 {
        clip-path: url(#SVGID_115_);
      }

      .st38 {
        clip-path: url(#SVGID_116_);
        fill: #FFFFFF;
      }

      .st39 {
        clip-path: url(#SVGID_121_);
      }

      .st40 {
        clip-path: url(#SVGID_122_);
        fill: #FFFFFF;
      }

      .st41 {
        clip-path: url(#SVGID_127_);
      }

      .st42 {
        clip-path: url(#SVGID_128_);
        fill: #FFFFFF;
      }

      .st43 {
        clip-path: url(#SVGID_130_);
        fill: #FFFFFF;
      }

      .st44 {
        clip-path: url(#SVGID_135_);
      }

      .st45 {
        clip-path: url(#SVGID_136_);
        fill: #FFFFFF;
      }

      .st46 {
        clip-path: url(#SVGID_141_);
      }

      .st47 {
        clip-path: url(#SVGID_142_);
        fill: #FFFFFF;
      }

      .st48 {
        clip-path: url(#SVGID_147_);
      }

      .st49 {
        clip-path: url(#SVGID_148_);
        fill: #FFFFFF;
      }

      .st50 {
        clip-path: url(#SVGID_153_);
      }

      .st51 {
        clip-path: url(#SVGID_154_);
        fill: #FFFFFF;
      }

      .st52 {
        clip-path: url(#SVGID_159_);
      }

      .st53 {
        clip-path: url(#SVGID_160_);
        fill: #FFFFFF;
      }

      .st54 {
        clip-path: url(#SVGID_165_);
      }

      .st55 {
        clip-path: url(#SVGID_166_);
        fill: #FFFFFF;
      }

      .st56 {
        clip-path: url(#SVGID_171_);
      }

      .st57 {
        clip-path: url(#SVGID_172_);
        fill: #FFFFFF;
      }

      .st58 {
        clip-path: url(#SVGID_177_);
      }

      .st59 {
        clip-path: url(#SVGID_178_);
        fill: #FFFFFF;
      }

      .st60 {
        clip-path: url(#SVGID_183_);
      }

      .st61 {
        clip-path: url(#SVGID_184_);
        fill: #FFFFFF;
      }

      .st62 {
        clip-path: url(#SVGID_189_);
      }

      .st63 {
        clip-path: url(#SVGID_190_);
        fill: #FFFFFF;
      }

      .st64 {
        clip-path: url(#SVGID_195_);
      }

      .st65 {
        clip-path: url(#SVGID_196_);
        fill: #FFFFFF;
      }

      .st66 {
        clip-path: url(#SVGID_201_);
      }

      .st67 {
        clip-path: url(#SVGID_202_);
        fill: #FFFFFF;
      }

      .st68 {
        clip-path: url(#SVGID_207_);
      }

      .st69 {
        clip-path: url(#SVGID_208_);
        fill: #FFFFFF;
      }

      .st70 {
        clip-path: url(#SVGID_210_);
        fill: #FFFFFF;
      }

      .st71 {
        clip-path: url(#SVGID_215_);
      }

      .st72 {
        clip-path: url(#SVGID_216_);
        fill: #FFFFFF;
      }

      .st73 {
        clip-path: url(#SVGID_221_);
      }

      .st74 {
        clip-path: url(#SVGID_222_);
        fill: #FFFFFF;
      }

      .st75 {
        clip-path: url(#SVGID_227_);
      }

      .st76 {
        clip-path: url(#SVGID_228_);
        fill: #FFFFFF;
      }

      .st77 {
        clip-path: url(#SVGID_233_);
      }

      .st78 {
        clip-path: url(#SVGID_234_);
        fill: #FFFFFF;
      }

      .st79 {
        clip-path: url(#SVGID_239_);
      }

      .st80 {
        clip-path: url(#SVGID_240_);
        fill: #FFFFFF;
      }

      .st81 {
        clip-path: url(#SVGID_245_);
      }

      .st82 {
        clip-path: url(#SVGID_246_);
        fill: #FFFFFF;
      }

      .st83 {
        clip-path: url(#SVGID_251_);
      }

      .st84 {
        clip-path: url(#SVGID_252_);
        fill: #FFFFFF;
      }

      .st85 {
        clip-path: url(#SVGID_257_);
      }

      .st86 {
        clip-path: url(#SVGID_258_);
        fill: #FFFFFF;
      }

      .st87 {
        clip-path: url(#SVGID_263_);
      }

      .st88 {
        clip-path: url(#SVGID_264_);
        fill: #FFFFFF;
      }

      .st89 {
        clip-path: url(#SVGID_269_);
      }

      .st90 {
        clip-path: url(#SVGID_270_);
        fill: #FFFFFF;
      }

      .st91 {
        clip-path: url(#SVGID_275_);
      }

      .st92 {
        clip-path: url(#SVGID_276_);
        fill: #FFFFFF;
      }

      .st93 {
        clip-path: url(#SVGID_281_);
      }

      .st94 {
        clip-path: url(#SVGID_282_);
        fill: #FFFFFF;
      }

      .st95 {
        clip-path: url(#SVGID_287_);
      }

      .st96 {
        clip-path: url(#SVGID_288_);
        fill: #FFFFFF;
      }

      .st97 {
        clip-path: url(#SVGID_292_);
        fill: #FFFFFF;
      }

      .st98 {
        clip-path: url(#SVGID_297_);
      }

      .st99 {
        clip-path: url(#SVGID_298_);
        fill: #FFFFFF;
      }

      .st100 {
        clip-path: url(#SVGID_305_);
      }

      .st101 {
        clip-path: url(#SVGID_306_);
        fill: #FFFFFF;
      }

      .st102 {
        clip-path: url(#SVGID_308_);
        fill: #FFFFFF;
      }

      .st103 {
        fill: #BDBDBD;
      }

      .st104 {
        clip-path: url(#SVGID_310_);
      }

      .st105 {
        clip-path: url(#SVGID_312_);
      }

      .st106 {
        clip-path: url(#SVGID_314_);
      }

      .st107 {
        clip-path: url(#SVGID_316_);
      }

      .st108 {
        clip-path: url(#SVGID_318_);
      }

      .st109 {
        clip-path: url(#SVGID_320_);
      }

      .st110 {
        fill: #333333;
      }

      .st111 {
        clip-path: url(#SVGID_322_);
      }

      .st112 {
        clip-path: url(#SVGID_324_);
      }

      .st113 {
        clip-path: url(#SVGID_326_);
      }

      .st114 {
        clip-path: url(#SVGID_328_);
      }

      .st115 {
        clip-path: url(#SVGID_330_);
      }

      .st116 {
        clip-path: url(#SVGID_332_);
      }

      .st117 {
        clip-path: url(#SVGID_334_);
      }

      .st118 {
        clip-path: url(#SVGID_336_);
      }

      .st119 {
        clip-path: url(#SVGID_338_);
      }

      .st120 {
        clip-path: url(#SVGID_340_);
      }

      .free {
        fill: #FFFFFF;
        stroke: #050404;
        stroke-width: 0.25;
        stroke-miterlimit: 10;
      }

      .booked {
        fill: #8E8E8E;
        stroke: #050404;
        stroke-width: 0.25;
        stroke-miterlimit: 10;
      }

      .selected {
        fill: #FFFF00;
        stroke: #050404;
        stroke-width: 0.25;
        stroke-miterlimit: 10;
      }
    </style>
    <ng-container *ngFor="let table of tables;let j=index">
      <g [style.cursor]="table.status!='booked'?'pointer':'default'" *ngIf="table.xCoordinate"
        (click)="click2(table.id)">
        <image href="https://cdn.iconscout.com/icon/premium/png-256-thumb/restaurant-table-7-627847.png"
          [ngClass]="table.status" [attr.x]="table.xCoordinate" [attr.y]="table.yCoordinate-22" width="20" height="20"
          rx="2" ry="2" />
      </g>
    </ng-container>
  </svg>
</div>
